.breadcrumbs {
  > li {
    color: $color-secondary;
    margin-right: $spacing-md;
    position: relative;

    &::before {
      content: "\2022";
      position: absolute;
      top: 15px;
      right: -18px;
      font-size: $font-xs;
    }

    &:last-child::before {
      content: "";
    }

    a {
      color: inherit;
      font-size: $font-sm;
      height: 48px;
      line-height: 48px;

      @media (min-width: 900px) {
        height: auto;
      }
    }
  }
}
