form {
  fieldset {
    border: 0;
  }

  legend {
    margin: 0 auto;
  }

  label {
    display: inline-block;
    text-indent: -100000px;
  }

  input[type="text"],
  select {
    box-shadow: 0 0 0 1px $color-grey-dark;
    border: 0;
    border-radius: 3px;
    height: 46px;
    width: 100%;
    font-size: $font-md;
    padding: 0 $spacing-sm;
    color: $color-grey-dark;
  }

  input[type="text"] {
    &::placeholder {
      color: $color-grey-dark;
    }
  }

  .select__wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 19px;
      right: 19px;
      background: url(../assets/caret.png) no-repeat;
      height: 9px;
      width: 17px;
    }

    select {
      appearance: none;

      &::-ms-expand {
        display: none;
      }
    }
  }
}
