h1 {
  font-size: $font-xl;
  margin-bottom: $spacing-lg;

  @media (min-width: 660px) {
    font-size: $font-xxl;
    margin-bottom: $spacing-xs;
  }
}

h2 {
  font-size: $font-lg;
}

p {
  line-height: 1.7;
  margin: $spacing-md 0;
}

a {
  text-decoration: none;
}

time {
  font-size: $font-xs;
  text-transform: uppercase;
}
